<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Chrome.WebDriver" version="77.0.0" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net472" />
  <package id="Selenium.Mozilla.Firefox.Webdriver" version="0.6.0.1" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha03" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="78.0.3904.7000" targetFramework="net472" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.26.0" targetFramework="net472" />
  <package id="Selenium.WebDriverBackedSelenium" version="4.0.0-alpha03" targetFramework="net472" />
</packages>